[Desktop Entry]
Name=Share Like Connect
Name[da]=Share Like Connect
Name[el]=Share Like Connect
Name[es]=Compartir Me gusta Conectar
Name[et]=Share-Like-Connect
Name[fr]=Share Like Connect
Name[gl]=Compartir Gustar Conectar
Name[hu]=Share Like Connect
Name[km]=ចែករំលែក​​ដូច​ការ​តភ្ជាប់
Name[nl]=Share-Like-Connect
Name[pl]=Share Like Connect
Name[pt]=Ligação Share-Like
Name[pt_BR]=Conexão Share Like
Name[sk]=Share Like Connect
Name[sv]=Share-Like-Connect
Name[uk]=Оприлюднити·Уподобати·З’єднати
Name[x-test]=xxShare Like Connectxx
Name[zh_TW]=Share-Like-Connect
Comment=Quick associations for active content
Comment[da]=Hurtige tilknytninger til Active-indhold
Comment[el]=Γρήγορες συσχετίσεις για ενεργό περιεχόμενο
Comment[es]=Asociaciones rápidas para contenido activo
Comment[et]=Aktiivse sisu kiired seosed
Comment[fr]=Associations rapides pour le contenu de Active
Comment[gl]=Asociacións rápidas para contido activo.
Comment[hu]=Gyors társítások az aktív tartalmakhoz
Comment[km]=ភ្ជាប់​រហ័ស​សម្រាប់​ខ្លឹមសារ​សកម្ម
Comment[nl]=Snelle associaties voor actieve inhoud
Comment[pl]=Szybkie skojarzenia dla aktywnej treści
Comment[pt]=Associações rápidas para o conteúdo activo
Comment[pt_BR]=Associações rápidas para o conteúdo ativo
Comment[ro]=Asocieri rapide pentru conținut activ
Comment[sk]=Rýchle asociácie pre aktívny obsah
Comment[sv]=Snabbassociationer för aktivt innehåll
Comment[uk]=Швидка прив’язка для даних портативного пристрою
Comment[x-test]=xxQuick associations for active contentxx
Comment[zh_TW]=與目前作用的內容快速關聯
Encoding=UTF-8
Icon=document-share
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/sharelikeconnect.qml
X-Plasma-RemoteLocation=
