[Desktop Entry]
Name=Share Like Connect
Name[bs]=Dijeli kako spojite
Name[ca]=«Share-Like-Connect»
Name[ca@valencia]=«Share-Like-Connect»
Name[da]=Share Like Connect
Name[de]=„Share Like Connect“
Name[el]=Share Like Connect
Name[en_GB]=Share Like Connect
Name[es]=Compartir Me gusta Conectar
Name[et]=Share-Like-Connect
Name[fi]=Share-Like-Connect
Name[fr]=Share Like Connect
Name[gl]=Compartir Gustar Conectar
Name[hu]=Share Like Connect
Name[kk]=Қосылу-Секілді-Ортақтастыру
Name[km]=ចែករំលែក​​ដូច​ការ​តភ្ជាប់
Name[ko]=공유-좋아요-연결
Name[lt]=Share Like Connect
Name[nb]=Share Like Connect
Name[nds]=Delen-Mögen-Tokoppeln
Name[nl]=Share-Like-Connect
Name[nn]=Del–lik–kopla
Name[pl]=Share Like Connect
Name[pt]=Ligação Share-Like
Name[pt_BR]=Conexão Share Like
Name[sk]=Share Like Connect
Name[sl]=Share Like Connect
Name[sv]=Share-Like-Connect
Name[tr]=Paylaş Beğen Bağlan
Name[uk]=Оприлюднити·Уподобати·З’єднати
Name[x-test]=xxShare Like Connectxx
Name[zh_TW]=Share-Like-Connect
Comment=Quick associations for active content
Comment[bs]=Brza udruženja za aktivni sadržaj
Comment[ca]=Associacions ràpides per a contingut actiu
Comment[ca@valencia]=Associacions ràpides per a contingut actiu
Comment[da]=Hurtige tilknytninger til Active-indhold
Comment[de]=Schnelle Zuordnungen für den aktiven Inhalt
Comment[el]=Γρήγορες συσχετίσεις για ενεργό περιεχόμενο
Comment[en_GB]=Quick associations for active content
Comment[es]=Asociaciones rápidas para contenido activo
Comment[et]=Aktiivse sisu kiired seosed
Comment[fi]=Aktiivisen sisällön pikayhteydet
Comment[fr]=Associations rapides pour un contenu actif
Comment[gl]=Asociacións rápidas para contido activo.
Comment[hu]=Gyors társítások az aktív tartalmakhoz
Comment[kk]=Белсенді мазмұнының тез байланысулары
Comment[km]=ភ្ជាប់​រហ័ស​សម្រាប់​ខ្លឹមសារ​សកម្ម
Comment[ko]=활성 콘텐츠 빠른 연결
Comment[lt]=Greitos asociacijos aktyviam turiniui
Comment[nb]=Kjapp sammenheng for aktivt innhold
Comment[nds]=Fixbetöög för wiest Inholt
Comment[nl]=Snelle associaties voor actieve inhoud
Comment[nn]=Raske tilknytingar til aktivt innhald
Comment[pl]=Szybkie skojarzenia dla aktywnej treści
Comment[pt]=Associações rápidas para o conteúdo activo
Comment[pt_BR]=Associações rápidas para o conteúdo ativo
Comment[ro]=Asocieri rapide pentru conținut activ
Comment[sk]=Rýchle asociácie pre aktívny obsah
Comment[sl]=Hitre povezave za dejavne vsebine
Comment[sv]=Snabbassociationer för aktivt innehåll
Comment[tr]=Etkin içerik için hızlı ilişkilendirmeler
Comment[uk]=Швидка прив’язка для даних портативного пристрою
Comment[x-test]=xxQuick associations for active contentxx
Comment[zh_TW]=與目前作用的內容快速關聯
Encoding=UTF-8
Icon=document-share
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=200,100
X-Plasma-MainScript=ui/sharelikeconnect.qml
X-Plasma-RemoteLocation=
