[Desktop Entry]
Name=Share·Like·Connect
Name[bs]=Dijeli·kao·Spojite
Name[ca]=«Share-Like-Connect»
Name[da]=Share·Like·Connect
Name[de]=„Share·Like·Connect“
Name[el]=Share·Like·Connect
Name[es]=Compartir·Me gusta·Conectar
Name[et]=Share-Like-Connect
Name[fi]=Share·Like·Connect
Name[fr]=Share·Like·Connect
Name[gl]=Compartir · Gustar · Conectar
Name[hu]=Share·Like·Connect
Name[kk]=Қосылу·Секілді·Ортақтастыру
Name[km]=ចែករំលែក​ដូច​ការ​តភ្ជាប់
Name[lt]=Share·Like·Connect
Name[nb]=Share·Like·Connect
Name[nl]=Share-Like-Connect
Name[pl]=Share·Like·Connect
Name[pt]=Ligação·Share·Like
Name[pt_BR]=Conexão·Share·Like
Name[sk]=Share·Like·Connect
Name[sl]=Share·Like·Connect
Name[sv]=Share·Like·Connect
Name[tr]=Paylaş·Beğen·Bağlan
Name[uk]=Оприлюднити·Уподобати·З’єднати
Name[x-test]=xxShare·Like·Connectxx
Name[zh_TW]=Share-Like-Connect
Comment=Provider of actions for sharing resources
Comment[bs]=Davatelj akcija za dijeljenje resursa
Comment[ca]=Proveïdor d'accions per a compartir recursos
Comment[da]=Giver handling til deling af ressourcer
Comment[de]=Anbieter von Aktionen für die Freigabe von Ressourcen
Comment[el]=Παροχή ενεργειών για κοινόχρηστους πόρους
Comment[es]=Proveedor de acciones para compartir recursos
Comment[et]=Toimingud ressursside jagamiseks
Comment[fi]=Resurssien jakamistoimintojen tarjoaja
Comment[fr]=Fournisseur d'actions pour partager des ressources
Comment[gl]=Provedor de accións para compartir recursos.
Comment[hu]=Műveletek szolgáltatója erőforrások megosztásához
Comment[kk]=Ресурстарды ортақтастыру амалдарын істеу аспабы
Comment[km]=កម្មវិធី​ផ្ដល់​សកម្មភាព​សម្រាប់​ចែករំលែកធនធាន
Comment[lt]=Veiksmų teikėjas bendrinimo ištekliams
Comment[nb]=Skaffer handlinger som deler ressurser
Comment[nl]=Leverancier van acties voor het delen van hulpbronnen
Comment[pl]=Dostawca działań dla udostępniania zasobów
Comment[pt]=Fornecedor de acções para partilhar os recursos
Comment[pt_BR]=Provedor de ações para compartilhar os recursos
Comment[ro]=Furnizor de acțiuni pentru partajarea resurselor
Comment[sk]=Poskytovateľ akcií pre zdieľanie zdrojov
Comment[sl]=Ponudnik dejanj za deljenje virov
Comment[sv]=Tillhandahåller åtgärder för att dela resurser
Comment[tr]=Kaynakları paylaşmak için işlem sağlayıcı
Comment[uk]=Засіб визначення дій для спільних ресурсів
Comment[x-test]=xxProvider of actions for sharing resourcesxx
Comment[zh_TW]=分享資源動作提供者
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_dataengine_sharelikeconnect

X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
