[Desktop Entry]
Name=Send by email
Name[cs]=Poslat e-mailem
Name[de]=Per E-Mail verwenden
Name[es]=Enviar por correo
Name[et]=E-postiga saatmine
Name[fr]=Envoyer par courriel
Name[hu]=Küldés emailben
Name[km]=ផ្ញើ​អ៊ីមែល
Name[nds]=Mit Nettpost loosstüern
Name[nl]=Met e-mail verzenden
Name[pl]=Wyślij pocztą elektroniczną
Name[pt]=Enviar por e-mail
Name[pt_BR]=Enviar por e-mail
Name[sk]=Poslať e-mailom
Name[sv]=Skicka med e-post
Name[uk]=Надіслати ел. поштою
Name[x-test]=xxSend by emailxx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareLikeConnect
X-KDE-Library=sharelikeconnect_provider_sendbyemail

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect.sendbyemail
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
