[Desktop Entry]
Name=Bookmarks
Name[bs]=Zabilješke
Name[cs]=Záložky
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[hu]=Könyvjelzők
Name[km]=ចំណាំ
Name[lt]=Žymelės
Name[mr]=ओळखचिन्ह
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[nl]=Bladwijzers
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sv]=Bokmärken
Name[uk]=Закладки
Name[x-test]=xxBookmarksxx
Name[zh_TW]=書籤
Type=Service

X-KDE-ServiceTypes=Plasma/ShareLikeConnect
X-KDE-Library=sharelikeconnect_provider_bookmarks

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect.bookmarks
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
