[Desktop Entry]
Name=Rating
Name[bs]=Ocjena
Name[ca]=Valoració
Name[cs]=Hodnocení
Name[da]=Vurdering
Name[de]=Bewertungen
Name[el]=Αξιολόγηση
Name[es]=Valoración
Name[et]=Hinnang
Name[fi]=Arvostelu
Name[fr]=Note
Name[ga]=Rátáil
Name[gl]=Puntuación
Name[hu]=Értékelés
Name[kk]=Бағалауы
Name[km]=វាយតម្លៃ
Name[ko]=별점
Name[lt]=Įvertinimas
Name[mr]=मुल्यांकन
Name[nb]=Vurdering
Name[nds]=Beweerten
Name[nl]=Waardering
Name[pl]=Ocena
Name[pt]=Classificação
Name[pt_BR]=Avaliação
Name[ro]=Evaluare
Name[sk]=Hodnotenie
Name[sl]=Ocena
Name[sv]=Betyg
Name[tr]=Beğeni
Name[ug]=باھالاش
Name[uk]=Оцінка
Name[x-test]=xxRatingxx
Name[zh_TW]=評分
Type=Service

X-KDE-ServiceTypes=Plasma/ShareLikeConnect
X-KDE-Library=sharelikeconnect_provider_rating

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect.rating
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
