[Desktop Entry]
Name=Rating
Name[cs]=Hodnocení
Name[de]=Bewertungen
Name[es]=Puntuación
Name[et]=Hinnang
Name[fr]=Note
Name[ga]=Rátáil
Name[nds]=Beweerten
Name[nl]=Waardering
Name[pl]=Ocena
Name[pt]=Classificação
Name[pt_BR]=Avaliação
Name[sk]=Hodnotenie
Name[sv]=Betyg
Name[uk]=Оцінка
Name[x-test]=xxRatingxx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareLikeConnect
X-KDE-Library=sharelikeconnect_provider_rating

X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect.rating
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
