[Desktop Entry]
Name=Identi.ca
Name[cs]=Identi.ca
Name[da]=Identi.ca
Name[es]=Identi.ca
Name[et]=Identi.ca
Name[hu]=Identi.ca
Name[nl]=Identi.ca
Name[pt]=Identi.ca
Name[pt_BR]=Identi.ca
Name[sk]=Identi.ca
Name[uk]=Identi.ca
Name[x-test]=xxIdenti.caxx
Type=Service

X-KDE-ServiceTypes=Plasma/ShareLikeConnect

X-Plasma-API=javascript
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-Name=org.kde.sharelikeconnect.identica
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
